<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <article>
        <h2>Créer une tâche</h2>
        <form action="/task" method="POST">
            <div>
                <label for="task">Nom de la tâche</label>
            </div>
            <br>
            <div>
                <input type="text" name="task" id="task" placeholder="Entrez le nom de la nouvelle tâche" autofocus>
            </div>
            <br>
            <div>
                <input type="submit" value="Ajouter">
            </div>
        </form>
    </article>
    <hr>
    <article>
        <h2>Liste des tâches</h2>
        <ul>
            <% tasks.forEach((task) => { %> 
                <% if (task.done) { %>
                    <li>
                        <s><%= task.title %></s>  | <a href="#">Supprimer</a>
                    </li>
                <% } else { %>
                    <li>
                        <%= task.title %>  | <a href="#">Marquer comme supprimée</a>
                    </li>
                <% } %> 
            <% }) %> 
        </ul>
    </article>
</body>
</html>