body {
    background-color: #e3f6f5;
}

main {
    margin: auto;
    max-width: 1024px;
}

td {
    margin: auto;
}

.box {
    margin: 1rem;
}

.is-b-1 {
    width: 100%;
}

.button, .input {
    border-radius: 30px;
}

.footer {
    margin-top: 3rem;
}

.notification {
    text-align: center;
}